---
import { getEntry, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import ClientDate from "@/components/common/svelte/ClientDate.svelte";

const { slug = "" } = Astro.params;

const entry = await getEntry("blog", slug);

if (entry == null) {
  return Astro.redirect("/404");
}

const { Content } = await render(entry);
---

<Layout title={`${entry.data.title} | Blog | KVD Studio`}>
  <div class="container flex flex-col gap-8 py-6">
    <div class="breadcrumbs">
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li>{entry.data.title}</li>
      </ul>
    </div>

    <div>
      <h1 class="text-3xl">{entry.data.title}</h1>
      <p class="text-neutral-400">
        <ClientDate date={entry.data.created.toISOString()} client:load />
      </p>
    </div>

    <Content />

    <div>
      <h4>Keywords</h4>
      <div class="flex flex-wrap gap-2">
        {
          entry.data.keywords.map(keyword => (
            <div class="badge badge-neutral badge-lg">{keyword}</div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style is:inline>
  ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1.5em;
  }

  ul li {
    margin-bottom: 0.5em;
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 1.5em;
  }

  ol li {
    margin-bottom: 0.5em;
  }

  blockquote {
    color: #a6adc8;
    border-color: white;
    border-left-width: 4px;
    border-left-style: solid;
    padding: 1rem;
    border-radius: 0.25rem;
  }

  pre {
    padding: 1rem;
    border-radius: 0.5rem;
    font-variant-ligatures: no-common-ligatures;
  }

  code {
    font-variant-ligatures: no-common-ligatures;
  }
</style>
