---
import { getEntry, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import ClientDate from "@/components/common/svelte/ClientDate.svelte";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import { Badge } from "@/components/ui/badge";

const { slug = "" } = Astro.params;

const entry = await getEntry("blog", slug);

if (entry == null) {
  return Astro.redirect("/404");
}

const { Content } = await render(entry);
---

<Layout title={`${entry.data.title} | Blog | KVD Studio`}>
  <div class="container flex flex-col gap-8 py-6">
    <Breadcrumb>
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink href="/blog">Blog</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbLink href={`/blog/${entry.id}`}>
            {entry.data.title}
          </BreadcrumbLink>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>

    <div>
      <h1 class="text-3xl">{entry.data.title}</h1>
      <p class="text-neutral-400">
        <ClientDate date={entry.data.created.toISOString()} client:load />
      </p>
    </div>

    <Content />

    <div>
      <h4>Keywords</h4>
      <div class="flex flex-wrap gap-2">
        {entry.data.keywords.map(keyword => <Badge>{keyword}</Badge>)}
      </div>
    </div>
  </div>
</Layout>

<style is:inline>
  ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1.5em;
  }

  ul li {
    margin-bottom: 0.5em;
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 1.5em;
  }

  ol li {
    margin-bottom: 0.5em;
  }
</style>
