---
import { getCollection } from "astro:content";
import info from "@/info.json";
import Layout from "@/layouts/Layout.astro";
import { buildCldUrl } from "@/utils/cloudinary";

export async function getStaticPaths() {
  return info.svip.courses.map(course => ({
    params: { courseSlug: course.slug },
  }));
}

const { courseSlug = "" } = Astro.params;

const course = info.svip.courses.find(course => course.slug === courseSlug);

const entries = await getCollection(
  "svip",
  entry => entry.data.courseSlug === courseSlug,
);
entries.sort((a, b) => b.data.created.localeCompare(a.data.created));
---

<Layout title={`${course.title} | KVD Studio`}>
  <div class="container flex flex-col gap-4 pb-12">
    <div class="breadcrumbs">
      <ul>
        <li><a href="/svip">Courses</a></li>
        <li>{course.name}</li>
      </ul>
    </div>

    {
      entries.length > 0 ? (
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {
            entries.map(entry => (
              <div class="card image-full aspect-square bg-base-300 shadow-xl">
                <figure>
                  <img
                    src={buildCldUrl(entry.data.cover)}
                    alt={entry.data.title}
                    class="aspect-square"
                  />
                </figure>
                <a
                  href={`/svip/${entry.slug}`}
                  class="card-body"
                >
                  <h2 class="card-title">{entry.data.title}</h2>
                </a>
              </div>
            ))
          }
        </div>
      ) : (
        <div class="text-center py-12 text-md text-gray-400">
          No posts yet. Come back later!
        </div>
      )
    }
  </div>
</Layout>
