---
import type { CollectionEntry } from "astro:content";
import { buildCldUrl } from "@/utils/cloudinary";
import dateFormat from "dateformat";

interface Props {
  project: CollectionEntry<"dev">;
}

const {
  project: { data: project },
} = Astro.props;
---

<div
  class="mb-8 grid grid-cols-1 md:grid-cols-2 place-content-start gap-8 border-t border-solid border-slate-600 pt-8 items-center"
>
  <div>
    <a
      href={project.status === "archived" ? undefined : project.url}
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src={buildCldUrl(project.cover)}
        alt={project.title}
        class="aspect-video h-[300px] w-auto object-cover"
      />
    </a>
  </div>

  <div>
    <div>
      <h4 class="text-xl">{project.title}</h4>
    </div>

    {
      project.organization && (
        <div class="my-4 flex place-items-center">
          <p>
            🌏
            <a
              href={project.organizationUrl}
              target="_blank"
              rel="noopener noreferrer"
            >
              {project.organization}
            </a>
          </p>
        </div>
      )
    }

    <p class="small-caps text-gray-400">
      {dateFormat(new Date(project.startDate), "mmm yyyy")} -{" "}
      {
        project.endDate
          ? dateFormat(new Date(project.endDate), "mmm yyyy")
          : "present"
      }
    </p>
      
    <p class="my-8">{project.summary}</p>
    <div>
      {
        project.technologies.map(tech => (
          <div class="badge badge-neutral badge-xs md:badge-md mb-2 mr-2 p-4">{tech}</div>
        ))
      }
    </div>
  </div>
</div>
