---
import { getCollection } from "astro:content";
import CvSection from "@/components/about/CvSection.astro";
import info from "@/info.json";
import Layout from "@/layouts/Layout.astro";
import cld from "@/utils/cloudinary";
import { Resize } from "@cloudinary/url-gen/actions";
import { Mail } from "lucide-astro";
import CvSectionMdx from "../components/about/CvSectionMdx.astro";

const backgroundImage = cld
  .image("kdphotography/portfolio/static/portfolio/media-private/latest/20180713_1")
  .resize(Resize.scale().width("auto"))
  .toURL();

const logo = cld.image("logo/logo-white").resize(Resize.scale().width("auto")).toURL();

const image = cld.image(info.about.photo).resize(Resize.scale().width("auto")).toURL();

const workExperience = (await getCollection("workExperience")).sort(
  (a, b) =>
    (b.data.endDate ?? new Date(9999, 11, 31))
      .toISOString()
      .localeCompare((a.data.endDate ?? new Date(9999, 11, 31)).toISOString()) ||
    b.data.startDate.toISOString().localeCompare(a.data.startDate.toISOString()),
);
---

<Layout title="About | KVD Studio">
  <div
    class="h-[75vh] bg-cover bg-fixed bg-center bg-no-repeat mb-14"
    style={`background-image: url('${backgroundImage}')`}
    id="cover"
  >
    <div
      class="flex h-full w-full place-content-center place-items-center bg-black/70"
    >
      <img
        src={logo}
        alt="KVD Studio"
        class="w-[75vw] border-[3px] border-solid border-white p-6 md:w-[25vw]"
      />
    </div>
  </div>

  <div class="grid gap-8 p-4 md:grid-cols-4 md:p-0">
    <img
      src={image}
      class="w-auto rounded-3xl md:sticky md:-top-8 md:-ml-8"
      alt="Mind Museum, 2019. Shot by Qeren Bartido."
    />
    <div class="flex flex-col gap-16 md:col-span-3 md:pr-24">
      <div>
        <p class="whitespace-pre-line">{info.about.text}</p>
        <a href={`mailto:${info.email}`} class="btn btn-outline btn-wide btn-accent my-6">
          <Mail /> 
          Contact
        </a>
      </div>

      <div>
        <CvSectionMdx title="Work Experience" data={workExperience} />
        <CvSection title="Certifications" data={info.cv.certification.data} />
        <CvSection title="Education" data={info.cv.education.data} />
        <CvSection title="Publications" data={info.cv.publication.data} />
        <CvSection title="Coding Stats" data={[]}>
          <div class="flex flex-col gap-6">
            <div class="text-center">
              <figure>
                <embed
                  src="https://wakatime.com/share/@kvdomingo/c19861c3-3b97-49c3-8152-56dbc3b074b2.svg"
                />
              </figure>
            </div>
            <figure class="md:w-3/4">
              <embed
                src="https://wakatime.com/share/@kvdomingo/1e4dbd96-9c14-40e8-b252-0191c6306845.svg"
              />
            </figure>
          </div>
        </CvSection>
      </div>
    </div>
  </div>
</Layout>
