---
import Layout from "@/layouts/Layout.astro";
import cld from "@/utils/cloudinary";
import info from "@/info.json";
import { Resize } from "@cloudinary/url-gen/actions";
import CvSection from "@/components/about/CvSection.astro";

const image = cld
  .image(info.about.photo)
  .resize(Resize.scale().width("auto"))
  .toURL();
---

<Layout title="About | KVD Studio">
  <div class="grid gap-8 p-4 md:grid-cols-4 md:p-0">
    <img
      src={image}
      class="rounded-3xl md:sticky md:-top-8 md:-z-10 md:-ml-8"
      alt="Mind Museum, 2019. Shot by Qeren Bartido."
    />
    <div class="flex flex-col gap-16 md:col-span-3 md:pr-24">
      <div>
        <p class="whitespace-pre-line text-lg">{info.about.text}</p>
        <a href={`mailto:${info.email}`} class="btn btn-outline btn-accent my-6"
          >Contact</a
        >
      </div>

      <div>
        <CvSection title="Education" data={info.cv.education.data} />
        <CvSection title="Work" data={info.cv.workExperience.data} />
        <CvSection title="Certifications" data={info.cv.certification.data} />
        <CvSection title="Publications" data={info.cv.publication.data} />
      </div>
    </div>
  </div>
</Layout>
